<nav class="navbar fixed-top navbar-expand-lg bg-dark shadow-lg p-0">
    <div class="container-fluid">        
        <%= link_to root_path do%>
            <%=image_tag("logoprueba.png", class: "navbar-brand")%>
        <%end%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
                <li class="nav-item">
                    <%= link_to 'Inicio', root_path, class:"nav-link shadow"%>
                </li>
                <li class="nav-item">
                    <%= link_to 'Historia', home_history_path, class:"nav-link"%>
                </li>
                <li class="nav-item">
                    <%= link_to 'Fotos', home_history_path, class:"nav-link disabled"%>
                </li>
                <li class="nav-item">
                    <%= link_to 'Contáctanos', contacts_new_path, class:"nav-link"%>
                </li>
            </ul>
        </div>
        
    </div>
    
</nav>