<section>
    <div class="card band shadow">
        <div class="card-body band-body">
            <h5 class="card-title">Unión Retro: Rescatando la Magia de los Años 60 y 70</h5><br>
            <br>
            <div>
                <p>
                    Unión Retro es un grupo de seis músicos apasionados que reviven la música de los años 60 y 70,
                    conocida como la "nueva ola chilena", con un estilo más rockero pero manteniendo la esencia
                    original. Formada en 2019 por amigos unidos por su amor a la música, la banda se distingue por la
                    diversidad de edades de sus miembros, que van de los 29 a los 65 años. Esta variedad generacional
                    aporta frescura y riqueza a sus interpretaciones, permitiendo que cada integrante contribuya
                    libremente con su estilo único.
                </p><br>
            </div>
            <div class="show-hide">
                <h5 class="card-title">Conexión Generacional</h5><br>
                <p>
                    Las canciones de Unión Retro están dirigidas especialmente a personas mayores de 40 años que
                    vivieron la época dorada de estos géneros, ya sea como adolescentes o jóvenes. Sin embargo, su
                    música también resuena con generaciones más jóvenes, que han conocido estos clásicos a través de la
                    radio y la influencia de sus padres y abuelos. Este cruce generacional demuestra que la música de
                    los años 60 y 70 trasciende barreras de edad, uniendo a abuelos, hijos y nietos en un mismo disfrute
                    musical.
                </p><br>
                <h5 class="card-title">Nuestra Objetivo</h5><br>
                <p>
                    El objetivo principal de Unión Retro es mantener vigente la memoria de estos artistas que han dejado
                    una marca indeleble en nuestras vidas. Lo hacen con el mayor respeto y seriedad, sin fines de lucro.
                    La mayor satisfacción para la banda es ver a su audiencia disfrutar y recordar aquella maravillosa
                    época. Si logran hacerte revivir esos momentos mágicos, consideran su misión cumplida.

                    Unión Retro sigue comprometido en rescatar y celebrar la música que ha perdurado en el tiempo,
                    llevando a su audiencia en un viaje nostálgico que honra el pasado mientras agrega su propio sello
                    distintivo.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="banner">
    <div class="banner">
        <div class="somos">
            <h1>¿Quiénes somos?</h1>
            <span>Integrantes</span>
        </div>
    </div>
</section>


<div class="container">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
            <article class="card shadow presentation">
                <div class="zoom">
                    <%=image_tag("nacho.webp", class: "card-img-top p-1" )%>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ignacio Reyes</h5>
                    <p class="card-text">Guitarra eléctrica</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <article class="card shadow presentation">
                <div class="zoom">
                    <%=image_tag("ricky.webp", class: "card-img-top p-1" )%>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ricky Di Lanco</h5>
                    <p class="card-text">Vocalista</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <article class="card shadow presentation">
                <div class="zoom">
                    <%=image_tag("pablo.webp", class: "card-img-top p-1" )%>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Pablo Vergara</h5>
                    <p class="card-text">Batería</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <article class="card shadow presentation">
                <div class="zoom">
                    <%=image_tag("donmigue.webp", class: "card-img-top p-1" )%>
                </div>
                <div class="card-body">
                    <h5 class="card-title">El loco Miguel</h5>
                    <p class="card-text"> Segunda Guitarra eléctrica</p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <article class="card shadow presentation">
                <div class="zoom">
                    <%=image_tag("manuel.webp", class: "card-img-top p-1" )%>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Manuel Reyes</h5>
                    <p class="card-text">Guitarra rítmica y voces</p>
                </div>
            </article>
        </div>
    </div>
</div>