<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Unión Retro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Meta description -->
    <meta name="description" content="Your custom description">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- FAVICON -->
    <%= favicon_link_tag asset_path("logoprueba.webp") %>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Orbitron:wght@700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/partials/nav'%>
    <%= yield %>
    <%= render '/partials/footer'%>
  </body>
</html>
